:root{
    --min-height: 70vh;
}

.landing {
  min-height: var(--min-height);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

/* Dark overlay for readability */
.landing-overlay {
  background: rgba(142, 202, 197, 0.45);
  min-height: var(--min-height);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px 60px;
}

.landing-left {
  width: 50%;
  color: #fff;
}

.landing-left h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.landing-left p {
  font-size: 18px;
  margin-bottom: 24px;
  color: #ffffff;
  /* background-color: white; */
  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

.landing-btn {
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
}

.landing-btn:hover {
  background-color: #4338ca;
}
