.footer {
  background-color: #150f01;
  color: #e5e7eb;
  padding: 40px 20px 20px;
  /* margin-top: 60px; */
  width: 100%;
  /* height: 70vh; */
}

.footer-container {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-left: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 16px;
  color: #ffffff;
}

.footer-brand {
  font-size: 22px;
  margin-bottom: 10px;
  color: #f0c682;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #f6dc85;
}

.footer-section ul li:hover {
  color: #f3bb6c;
}

.footer-bottom {
  text-align: center;
  /* margin-top: 30px; */
  padding-top: 15px;
  border-top: 1px solid #1e293b;
  font-size: 13px;
  color: #94a3b8;
}
