.admin-orders-page {
  padding: 20px;
  width: 70vw;
  font-family: 'Trebuchet MS', sans-serif;
}

/* MAIN TABLE */
.admin-orders-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  /* border-radius: 20px; */
}

.admin-orders-table th,
.admin-orders-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;

}

.admin-orders-table th {
  background: #f5f5f5;
}

/* USER ROW */
.user-row {
  background: #fafafa;
  font-weight: 600;
}

/* BUTTON */
.toggle-btn {
  padding: 6px 12px;
  border: none;
  background: #ff6b00;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-btn:hover {
  background: #e65c00;
}

/* EXPANDED ROW */
.orders-expand-row td {
  padding: 0;
  background: #fff;
}

/* INNER ORDERS TABLE */
.user-orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.user-orders-table th,
.user-orders-table td {
  padding: 10px;
  border: 1px solid #eee;
  font-size: 14px;
}

.user-orders-table th {
  background: #f9f9f9;
}
