
/* Sidebar */
.admin-sidebar {
  width: 240px;
  background-color: #040300;
  color: #eb9b55;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  z-index: 1000;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}


/* Sidebar Title */
.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sidebar Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar-menu li {
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
}

/* Hover effect */
.sidebar-menu li:hover {
  background-color: #f6d67f;
  transform: scale3d(1.2);
}
/* Active link */
.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar-menu a.active {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  color: #040300;
}

/* Right content cards */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-size: 18px;
}
/*! sidebar end */